﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <!--logo-->
        </div>
        <div class="col-xs-8">
            <!--button-->
        </div>
        <div class="col-xs-2">
            <!--login-->
        </div>
    </div>
</div>