<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <!--This is where the catagory table goes-->
            <table class="table table-bordered table-hover">
                <!--table-->
                <tr>
                    <td>
                        <button role="checkbox" class="btn">catagory</button>
                        <span class="caret"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button role="checkbox" class="btn">catagory</button>
                        <span class="caret"></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-8">
            <!--videos on show-->
        </div>
        <div class="col-xs-2">
            <!--Advertisement banner-->
        </div>

        <!--this should be dynamically made each time-->
        <div class="col-xs-8">
            <!--next layer or we just expand the last one-->
        </div>
        <div class="col-xs-2">
            <!--Advertisement banner, first one will be PPC
                consequtive ones will be VPM-->
        </div>
    </div>
</div>