

<div data-ng-app="body.directives">
    <all-video></all-video>
</div>

@Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
@Scripts.Render("~/assets/app/body/directives/directives.js")

