<div data-ng-app="body.directives">
    {{2+3}}
    <all-video></all-video>
</div>
@Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js")
     @Scripts.Render("~/assets/app/body/directives/directives.js")
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>