<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



<div data-ng-app="body.directives">

            <all-video></all-video>

    </div>



@section scripts{
    @Scripts.Render("http://code.jquery.com/jquery-2.0.0.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
    @Scripts.Render("~/assets/app/body/directives/directives.js")
}