<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<div>hello</div>














@section scripts{
    @Scripts.Render("http://code.jquery.com/jquery-2.0.0.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
}